@import url("./fonts/fonts.css");

/* Reset Css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Common Styling Start */
a{
	color: #222222;
	cursor: pointer;
}
a:hover{
	text-decoration: none;
	color: #0056b3;
}
a:focus{
	outline: none;
}



.vHMiddle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}


/* Common Styling End */

/* Header Start */
/* The Overlay (background) */
body {
	font-family: 'HelveticaNeue';
	font-size: 16px;
	line-height: 1;
	color: #222222;
}
  
.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-x: hidden;
	overflow-y: hidden;
	transition: 0.5s;
}
.overlayCar{
	background: rgba(0, 0, 0, 0.73) center / cover no-repeat;
}
.overlay-content {
	/* position: relative; */
	/* position: absolute;
	top: 25%; */
	width: 100%;
	text-align: center;
	margin-top: 14%;
	/* left: 0; */
}

.overlay a {		
	padding: 8px;	
	text-decoration: none;		
	font-size: 29px;
	letter-spacing: 1.16px;
	line-height: 34px;		
	color: #E6E6E6;		
	transition: 0.3s;		
	display: block;
}

.overlay a:hover, .overlay a:focus {
	color: #E6E6E6;
}

.overlay .closebtn {
	margin: 9px -2px;
    display: inline-block;
}
.overlay #menuPopupLogo{
	max-width: 273px;
	width: 100%;	
}
.overlay #menuPopupItemList h3{
	padding-bottom: 40px;
}
  
.overlay #menuPopupItemList h2:hover, .overlay #menuPopupItemList h2:focus {
	color: #f1f1f1;
}

.overlay #menuPopupItemList h2{
	font: Bold 24px/29px Work Sans;
	letter-spacing: 1.16px;
	color: #818181;
	text-transform: uppercase;
	opacity: 1;
}

.overlay #menuPopupItemList li{
	padding-right: 90px;
}
.overlay #menuPopupItemList h3{
	text-align: center;
	font: Italic 15px/24px Mate;
	letter-spacing: 0;
	color: #E6E6E6;
	opacity: 1;
}

.overlay #menuPopupLogo{
	display: block;
}


  
header{
	z-index: 999999;
	top: 25px;
}

/*header #menuPopupLogo{
	top: 431px;
	left: 144px;
	width: 273px;
	height: 69px;
}

.overlay .list-inline{
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  */
header .container .col-lg-6{
	width: 50%;
}
.primary-menu li:first-child {
	margin: 0;
  }
  
.primary-menu li{
	float: left;
	/* margin-left: 130px; */
	margin-left: 4vw;
	text-transform: uppercase;
	font-family: 'Work Sans Bold';
	font-size: 29px;
	line-height: 34px;
	letter-spacing: 1.16px;
	color:#E6E6E6;
}

.primary-menu li span{
	display: block;
	font-family: 'Mate Italic';
	text-transform: lowercase;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0;
	color:#E6E6E6;
}

/* Header End */


/** Below css is for Index page - added by Aadarsh Jain **/
/** for index page video **/
#div-video {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#div-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#div-video .container {
  position: relative;
  z-index: 2;
}

#div-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/** for index page video **/

/** for slider **/

#slider{
	background: linear-gradient(rgba(34, 34, 34, 0.7),rgba(34, 34, 34, 0.7)),url(../images/Mletzko_03-17_155.jpg) no-repeat 100%;
	background-size: cover;
	background-position: center;
	padding-top: 130px;
	color:#fff;
}
#slider.details p{
	color:#fff;
	height: 40vh;
}
#slider h3{
	font-family: 'Mate Italic';
	color: #E6E6E6;
	font-size: 32px;
	line-height: 39px;
	padding-bottom: 1.1rem;
}
.bxslider h4{
	text-transform: uppercase;
	font-family: 'Work Sans Bold';
	font-size: 44px;
	line-height: 52px;
	letter-spacing: 2.64px;
	padding-bottom: 2.8rem;
}




/** for slider **/



#pageCard ul{
	list-style: none;
	padding: 0;
	/* margin: 0 0 5.3em; */
	width: 100%;
}

#pageCard ul li{
	height: 100vh;
	/* max-height: 409px; */
	width: 100%;
	float: left;
	text-align: center;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* margin-bottom: 27px; */
	/* filter: grayscale(100%) */
}




#pageCard ul li:last-child{
	float: right;
}


#pageCard h2{
	font-family: 'Work Sans Bold';
	text-transform: uppercase;
	font-size: 29px;
	line-height: 34px;
	letter-spacing: 1.16px;
	color: #E6E6E6;
}

#pageCard h2 span{
	display: block;
	font-family: 'Mate Italic';
	text-transform: lowercase;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0;
}




#getInTouch{
	background: rgba(0, 0, 0, 0.55) center / cover no-repeat;
	text-align: center;
	color: #E6E6E6;
	height: 100vh;
}
#getInTouch .row{ 
	height: 100vh;
}

#getInTouch h3{
	font-family: 'Mate Italic';
	text-transform: lowercase;
	font-size: 32px;
	line-height: 39px;
}

#getInTouch h3 span{
	display: block;
	font-family: 'HelveticaNeue Bold';
	text-transform: uppercase;
	font-size: 42px;
	line-height: 49px;
	margin-bottom: 1em;
}

#getInTouch h2{
	font-family: 'HelveticaNeue Bold';
	text-transform: uppercase;
	font-size: 24px;
	line-height: 28px;
}

#getInTouch a{
	color: #E6E6E6;
	display: inline-block;
}


/* Love Details Start - Soumik */

.overlapPanel{
	background-color: rgba(0, 0, 0, 0.8);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: #E6E6E6;
	height: 100vh;
	width: 100%;
}

.overlapPanel .row,.details .row{ 
	height: 100vh;
}
#slider.details .row{ 
	height: auto;
}
#detailsOpacity{
	background-color: rgba(0, 0, 0, 0.8);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: #E6E6E6;
	height: 100vh;
}

.bannerArea.overlapPanel{
	top: 0;
    background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
}

#loveContent.overlapPanel,
#loveContent.overlapPanel .row{ 
	height: 80vh;
}

#loveDetail{
	height:100vh;
	background-color: #fff;
    background-size: cover;
    background-position: center;
    /* padding-top: 4em; */
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(34, 34, 34, 0.8),rgba(34, 34, 34, 0.8)),url(../images/mletzko_05_heck_040_1.jpg);
}
#carNoOne{
	height:100vh;
	background-color: #fff;
    background-size: cover;
    background-position: center;
    padding-top: 4em;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(34, 34, 34, 0.8),rgba(34, 34, 34, 0.8)),url(../images/mletzko_05_heck_040_1.jpg);
}


.overlapPanel .contentDetail h3{
	padding-bottom: 7px;
	font-size: 32px;
	line-height: 39px;
	text-transform: none;
	text-shadow: none;
}
.contentDetail h4{
	color: #222;
}
.details.home p,.details.home h4,.details.home a,.details.home a:hover{
	color:#fff;
}
.overlapPanel h3,.details h3{
	font-family: 'Mate Italic';
	text-transform: lowercase;
	font-size: 43px;
	line-height: 52px;
	color: #E6E6E6;
	text-align: center;
	text-shadow: 3px 3px 3px #00000029;
}
.details h3{
	text-shadow: None;
}
.overlapPanel h3 span{
	display: block;
	font-family: 'Work sans Bold';
	text-transform: uppercase;
	font-size: 63px;
	line-height: 74px;
	letter-spacing: 2.77px;
	text-shadow: 3px 3px 3px #00000029;
}
.bannerArea.overlapPanel h3{
	text-align: left;
}
.bannerArea.overlapPanel h3 span{
	margin-left: 20%;
    margin-top: 1%;
}

.bannerArea.overlapPanel h4{
	font-family: 'HelveticaNeue Light';
	text-transform: lowercase;
	font-size: 20px;
	line-height: 55px;
	letter-spacing: 1.2px;	
	text-align: left;
	margin-left: 6.5em;
}

#bannerCanNoOne.overlapPanel div[class^="col"]{
	margin-top: 8em;
}
#mymeltzko_div div[class^="col"]{
	margin-top: 6em;
}

#bannerCanNoOne.overlapPanel h3 span{
	margin-left: 0%;
}
#bannerCanNoOne.overlapPanel h4{
	margin-left: 39%;
}

#mletzkoStory.overlapPanel h3 span{
	margin-left: 0%;
}
#mletzkoStory.overlapPanel h4{
	margin-left: 1.5em;
}

#mletzkoStory.overlapPanel div[class^="col"]{
	margin-top: 8em;
}


/* @media only screen and (min-device-width:1025px) and (max-device-width:1280px) and (-webkit-min-device-pixel-ratio:2) and (orientation:landscape)
{
	.primary-menu li{margin-left:0px}
	.overlay-content ul{margin-left: 0!important;}
	footer .wpcf7-response-output {
		bottom: 15%!important;
	}

	/* img#menuPopupLogo {
		margin-left: 3em !important;
	} */

	/* .align-auto {
		margin-left: auto;
		margin-right: 90px;
	} */

	/* .primary-menu li {
		margin-left: 1em;
	}

	.overlay #menuPopupLogo {
		float: left;
		margin: 0 0 1em 0;
	}

	.overlay a{
		line-height: 0 !important;
		font-size: 27px;
	}
} */ 

/* Love Details End - Soumik */



.cursive_text{
	font: Italic 20px/24px Mate;
	letter-spacing: 0;
	color: #E6E6E6;
	opacity: 1;
}
.bottom-full-image .cursive_text{
	font: Italic 32px/39px Mate;
}

.bold_text{
	font: Bold 29px/34px Work Sans;
}

.bottom-full-image .bold_text{
	font: Bold 29px/34px Work Sans;
}

.helvetica_text{
	font: Helvetica 75 Bold 24px/28px Helvetica Neue;
	letter-spacing: 1.44px;
}

/*p .bold_text{
	font: Helvetica 75 Bold 24px/28px Helvetica Neue;
	letter-spacing: 1.44px;
	color: #E6E6E6;
}*/

/** Above css is for Index page - added by Aadarsh Jain **/

/** Below css is for Footer page - added by Aadarsh Jain **/
footer{	
	background: #222222;
	color: #E6E6E6;
	padding: 8.2em 0 0;
}

footer .widget{
	padding: 0;
    border: 0;
    margin: 0;
}
footer input[type="submit"]:hover{
	background: transparent;
}

footer h5,
footer .widget .widget-title,
footer .widget h5{
	font-family: 'Work Sans Bold';
	font-size: 29px;
	line-height: 34px;
	letter-spacing: 1.16px;
	text-transform: uppercase;
	margin-bottom: 2em;
	color: #E6E6E6;
	text-align: left;
}

footer p{
	font-family: 'Work Sans Light';
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 1.2px;
	margin-bottom: 1.3em;
	color: #E6E6E6;
}

footer p a{
	font-family: 'Work Sans Medium';
}
footer ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

footer form ul li{
	float: left;
	/* margin-bottom: 2em; */
}
footer form ul li:first-child{
	width: 90%;
}
footer form ul li:nth-child(2){
	width: 100%;
	/* float: right; */
}
footer form ul li:last-child {
    margin-bottom: 90px;
    margin-top: 1em;
    font-family: 'Work Sans Light';
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1.2px;
}

footer form ul li input[type="email"]{
	background: none;
	color: #4B4B4B;
	font-family: 'Work Sans Medium';
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 1.2px;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-width: 2px;
	border-color: #4B4B4B;
	padding-right: 50px;
}

footer ul.socialMenu li{
	float: left;
	margin-right: 10px;
}
footer ul.socialMenu li img{
	width: 32px;
	height: 32px;
}

footer #footerSideMenu ul li{
	font-family: 'Work Sans Medium';
	font-size: 20px;
	line-height: 55px;
	letter-spacing: 0.8px;
	color: #E6E6E6;
}

footer #footerTop{
	padding-bottom: 8em;
}

footer #footerBottom,
footer #footerBottom p{
	background: #101010;
	font-family: 'Work Sans';
	font-size: 14px;
	line-height: 32px;
	letter-spacing: 0.84px;
	padding: 5px 0 4px;
}
footer #footerBottom p{
	text-align: center;
}

footer ul#menu-social-menu li a{
	text-indent: -9999px;
	height:32px;
	width:32px;
	display: block;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
}

footer ul#menu-social-menu li.facebook a{
	background-image:url(../images/iconFacebook.svg);
}

footer ul#menu-social-menu li.instagram a{
	background-image:url(../images/iconInstagram.svg);
}

footer ul#menu-social-menu li.twitter a{
	background-image:url(../images/iconTwitter.svg);
}
footer .wpcf7-response-output {
	/* border: 2px solid #ffffff; */
    position: absolute;
    left: 0;
    padding: 2%;
	/* bottom: 11%; */
	top: 60%;
	margin: 2em 0.9em 1em;
}
footer  input[type="submit"]:focus{
    background: transparent;
}
footer #footerBottom ul{
	position: absolute;
    z-index: 9999;
}

footer #footerBottom ul li{
	float: left;
}
footer #footerBottom ul li a{
	float: left;
    margin-right: 30px;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.84px;
    color: #E6E6E6;
}

footer a{
	color: #E6E6E6;	
}

a{
	text-decoration: none;
}
.footer-contact-website{
	color: #E6E6E6;		
}
footer ul#menu-social-menu li a{
    text-indent: -9999px;
    height:32px;
    width:32px;
    display: block;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

footer ul#menu-social-menu li.facebook a{
    background-image:url(../images/iconFacebook.svg);
}

footer ul#menu-social-menu li.instagram a{
    background-image:url(../images/iconInstagram.svg);
}

footer ul#menu-social-menu li.twitter a{
    background-image:url(../images/iconTwitter.svg);
}

.footer-main-div{
    padding-left: 80px;
    padding-top: 110px;
}

.column {
  float: left;
  width: 33.33%;
}
/*akshay start*/
footer input.wpcf7-form-control.wpcf7-submit {
	background: transparent;
    position: absolute;
    top: 25%;
    right: 10%;
    font-size: 20px;;
}

footer input[type="checkbox" i]:before {
    content: "";
    height: 23px;
    width: 23px;
    background: #222222;
    display: block;
    /* z-index: 9999; */
    border: 1px solid #E6E6E6;
	opacity: 0.9
}
footer span.wpcf7-list-item{
	margin:0;
}
footer input[type=checkbox]{
    height: 23px;
	width: 23px;
	position: relative;
	top: 6px;
}
footer .clearfix span,.clearfix a{
	text-decoration: underline;
	position: relative;
	bottom: 0;
	float: left;
}
footer span.wpcf7-not-valid-tip {
	position: absolute;
    width: 250px;
    min-width: 200px;
    display: block;
    font-size: 14px;
    bottom: -40px;
    font-family: 'Work Sans Light';
    letter-spacing: 0;
}

footer .clearfix .wpcf7-not-valid-tip{
	bottom: -25px;
    text-decoration: none;
}
footer span.wpcf7-list-item-label {
    display: none;
}
footer input[type="submit"]:focus{
	outline: none;
}
footer .mt-2,footer .my-2 {
    margin-top: 0.7rem!important;
}

/*akshay end*/
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  text-align: center;
}

.footer-bottom{
	background: #101010 0% 0% no-repeat padding-box;
	position: absolute;
    width: 100%;
    text-align: center;
    bottom:0;
    font: Regular 08px/19px sans-serif;
	letter-spacing: 0.84px;
	padding-top: 10px;
	height: 40px;
}

.footer-contact-head{
	/*top: 3968px;*/
	left: 144px;
	width: 144px;
	
	text-align: left;
	font: Bold 18px/23px sans-serif;
	letter-spacing: 1.16px;
	text-transform: uppercase;
}

.footer-contact-details{
	/*top: 4040px;*/
	left: 144px;
	width: 499px;
	
	text-align: left;
	letter-spacing: 1.2px;

	font: Regular 14px/19px sans-serif;
	color: #c3c3c3;	
}

.footer-touch-email-head
{
	/*top: 3968px;*/
	left: 659px;
	width: 329px;
	
	text-align: left;
	font: Bold 18px/23px sans-serif;
	letter-spacing: 1.16px;
	text-transform: uppercase;
}

.footer-socialmedia-div{
	/*top: 4247px;*/
	left: 659px;
	width: 142px;
	padding-top: 60px;
	
}
.socialmedia-icon{
	/*top: 4247px;*/
	left: 659px;
	width: 32px;
	height: 32px;
}

.footer-next-step-head{
	/*top: 3968px;*/
	left: 1380px;
	width: 170px;
	
	text-align: left;
	font: Bold 18px/23px sans-serif;
	letter-spacing: 1.16px;
	text-transform: uppercase;
}

.footer-next-step-subhead{
	/*top: 4231px;*/
	left: 1380px;
	width: 499px;
	
	text-align: left;
	font: Medium 20px/55px sans-serif;
	letter-spacing: 0.8px;
}

.footer-bottom-left{
	font: Regular 08px/15px sans-serif;
}

.footer-bottom-center{
	font: Regular 08px/15px sans-serif;
}

.footer-contact-website{
	color: #E6E6E6;
}

/*footer svg{
	fill: #E6E6E6;
	text-decoration="underline"
}*/

/*footer #svg_holder{
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 2px solid #6f6f6f;

	position: relative;
	padding: 23px;
	line-height: 32px;
}*/

/* footer input[type="submit"] {
    margin-left: -35px;
    margin-top: 12px;
    -webkit-appearance: none;
	position: absolute;
	background: url(../wp-content/themes/mletzko/images/arrowRight.svg);
	fill : white;
} */

 /* #footerSideMenu a{
	transition: 0.4s;
} */
  
#footerSideMenu a:hover, #footerSideMenu a:focus {
	color: #ffffff;
}




/*Akshay css start for car no one*/

 small a {
	font-size: 14px!important;
	letter-spacing: 0.84px!important;
	text-transform: uppercase!important;
	vertical-align: text-bottom;
}

.details h4 {
    text-transform: uppercase;
    font-family: 'Work Sans Bold';
    font-size: 44px;
    line-height: 52px;
    letter-spacing: 2.64px;
    padding-bottom: 25px;
}
.details.home a{
	color: #E6E6E6;
}
.details.home a:hover{
	color: #E6E6E6;
}
.details.home h4{
	color: #ffffff;
}
.details.home p{
	color: #ffffff;
}
.details p {
    font-size: 20px;
    line-height: 55px;
    font-family: 'Work Sans Light';
    padding: 0 0 2em;
    text-align: center;
    color: #222222;
    text-transform: lowercase;
    letter-spacing: 0.8px;
    width: 63%;
    display: inline-block;
}

.contentDetail p {
    text-transform: inherit;
}

.details .indexContainer{
	padding-bottom: 8.2em;
}



.slider {
    margin-top: 8.7em;
}
#sliderInterior.slider,#sliderExterior.slider{
	margin-top:0;
}

.slider  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
	bottom: 50px;
}

.slider .bx-wrapper{
	margin-bottom: 0;
}

#sliderExterior .bx-wrapper {
    padding: 0 0;
}


.slider .carousel-control-prev-icon{
	left: 0;
     background: url(../images/controls.png) no-repeat 0 -32px;
	background: url(../images/arrowLeft.svg) no-repeat;
	height: 100px;
    width: 100px;
} 

.slider .carousel-control-next-icon{
	right: 0;
	background: url(../images/arrowRight.svg) no-repeat;
	height: 100px;
    width: 100px;
} 
section#exteriorDetails {
    margin: 40px;
}

.carousel-indicators li{
	border: 1px solid #484848;
    text-indent: -9999px;
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 10px;
	background: #fff!important;
}
.carousel-indicators li.active{
	
	background: #E6E6E6;
}
.carousel-indicators{
	bottom:3%;
}
.details{
    background: url(../images/logoBigTransparency.svg) no-repeat 100%;
    background-size: cover;
    background-position: center;
	/* padding-top: 6.7em; */
	text-align: center;
    color: #E6E6E6;
    height: 100vh;
	width: 100%;
	background-color: #fff;
}
.details a{
	color: #000;
	text-transform: uppercase;
}
.details a:hover{
	color: #000;
}
#footerTop a:hover{
	color: #fff;
}
.details h2 {
    font-family: work sans Bold;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1.44px;
}



/*Akshay css end for car no one*/
/** Above css is for Footer page - added by Aadarsh Jain **/
/** Above css is for Footer page - added by Aadarsh Jain **/

/* Below is the css for My Mletzko page */
#mymeltzko_div {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: #E6E6E6;
	width: 100%;
	height: 100vh;
}
#mymeltzko_row,
#mymeltzko_container{
	height: 100vh;
}

#mymeltzko_div h2 {
	font-size: 32px;
	font-family: 'Mate Italic';
	line-height: 39px;
	text-transform: lowercase;
	color: #E6E6E6;
	letter-spacing: 0;
	margin-bottom: 18px;
}

#mymeltzko_div h2 span {
	font-family: 'HelveticaNeue Bold';
	text-transform: uppercase;
	font-size: 42px;
	line-height: 49px;
	color: #E6E6E6;
	letter-spacing: 2.52px;
	margin-top: 10px;
}

#mymeltzko_div form ul li:last-child {
	float: right;
	font-size: 24px;
	letter-spacing: 1.44px;
	line-height: 28px;
	font-family: 'HelveticaNeue Bold';
	text-transform: uppercase;
	color: #E6E6E6;
	margin: 0;
}

#mymeltzko_div form ul li:last-child input {
	padding-right: 0;
	font-size: 24px;
}

/* #mymeltzko_div form ul li:first-child{
	margin-bottom: 15px;
} */

#mymeltzko_div input {
	background: none;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-width: 1px;
	border-color: #E6E6E6;
	color: #eee;
	font-size: 20px;
	line-height: 32px;
	font-family: 'HelveticaNeue Medium';
	letter-spacing: 1.2px;
	padding-left: 0;
}

#mymeltzko_div input:-ms-input-placeholder {
	color: #4B4B4B;
	margin-bottom: 15px;
}

#mymeltzko_div div.wpcf7-response-output{
	width: 88%;
    text-align: left;
    color: #fff;
    letter-spacing: 1px;
    margin: 6em 1.6em 1em;
    padding: 1em;
    line-height: normal;
}

/* Added code for the */
#mymeltzko_div input:invalid {
	box-shadow: none;
}

#mymeltzko_div form ul li {
	color: #4B4B4B;
	margin: 0 25px 18px;
}

/* home page video button classes*/
#div_video{
	position: relative;
	cursor: pointer;
}
#playButton{
	z-index: 10;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#videoPlay{
	object-fit: cover;
}
/* home page video button classes*/


/** Above is the css for My Mletzko page**/
.entry-title{
	text-transform: uppercase;
	font-family: 'Work Sans Bold';
	font-size: 44px;
	line-height: 52px;
	letter-spacing: 2.64px;
}

.entry-page-content h3,
.entry-page-content strong{
	font-family: 'HelveticaNeue Bold';
	font-size: 20px;
	line-height: normal;
	letter-spacing: 1.2px;
	line-height: 30px;
	color: #222222;
}
.entry-page-content p{
	margin-bottom: 1rem;
	font-family: 'HelveticaNeue light';
	font-size: 20px;
	letter-spacing: 1.2px;
	line-height: normal;
	line-height: 30px;
	color: #222222;
}

.container-fluid{
	width:90%
}
.hamburger li {
    display: inline-flex;
}
.overlay .hamburger a {
	font-size: 14px;
    vertical-align: middle;
    font-weight: bold;
	letter-spacing: 0.84px;
	font-family: 'Work Sans Bold';
	color: #E6E6E6;
	line-height: 16px;
}
#defaultContent{
	padding: 12em 0 7em;
}
/* span.wpcf7-not-valid-tip {
	margin-top: 2%;
	position: absolute;
	min-width: 10em;
} */

.wpcf7-form-control-wrap:focus ~ input.wpcf7-form-control.wpcf7-submit{
	color: #222;
}

.container {
    min-width: 90%;
}
input.wpcf7-form-control.wpcf7-submit {
	color: #E6E6E6;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}

input[type="submit"]:focus{
	outline: thin transparent;
}

ul#menu-primary-menu {
    position: absolute;
    right: 0;
}

a#languageSelector {
    position: relative;
    top: -8px;
}

.embed-responsive {
    max-height: 100vh;
	min-height: 100vh;
}
a.text-uppercase.language_selecter {
    position: relative;
    top: -8px;
}

.hamburger {
	margin-top: 1%;
}

.align-auto {
	position: absolute;
	display: inline;
	right: 0px;
}

input[type="text"]::-ms-clear{
	display: none;
}

input[type="email"]::-ms-clear{
	display: none;
}

input[type="mobile"]::-ms-clear{
	display: none;
}

ul#menu-social-menu {
    margin-top: 50px;
}

span.wpcf7-not-valid-tip{
	text-align: left;
    margin-top: 5px;
}
