/* Ipad Portrait and Mob Landscape View with High resolution */
@media (max-width:800px) {
	
}

/* Mobile with Portrait View */
@media (max-width:600px){
	
}

/* Mobile with Small Size */
@media ( max-width: 400){
	
}