@font-face {
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeueRegular.eot');
    src: local('HelveticaNeue Regular'), local('HelveticaNeueRegular'),
        url('HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueRegular.woff2') format('woff2'),
        url('HelveticaNeueRegular.woff') format('woff'),
        url('HelveticaNeueRegular.ttf') format('truetype'),
        url('HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue Bold';
    src: url('HelveticaNeueBold.eot');
    src: local('HelveticaNeue Bold'), local('HelveticaNeueBold'),
        url('HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueBold.woff2') format('woff2'),
        url('HelveticaNeueBold.woff') format('woff'),
        url('HelveticaNeueBold.ttf') format('truetype'),
        url('HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue Medium';
    src: url('HelveticaNeueMedium.eot');
    src: local('HelveticaNeue Medium'), local('HelveticaNeueMedium'),
        url('HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueMedium.woff2') format('woff2'),
        url('HelveticaNeueMedium.woff') format('woff'),
        url('HelveticaNeueMedium.ttf') format('truetype'),
        url('HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue Light';
    src: url('HelveticaNeueLight.eot');
    src: local('HelveticaNeue Light'), local('HelveticaNeueLight'),
        url('HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLight.woff2') format('woff2'),
        url('HelveticaNeueLight.woff') format('woff'),
        url('HelveticaNeueLight.ttf') format('truetype'),
        url('HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
    font-weight: 300;
    font-style: normal;
}




@font-face {
    font-family: 'Mate';
    src: url('Mate-Regular.eot');
    src: local('Mate-Regular'),
        url('Mate-Regular.eot?#iefix') format('embedded-opentype'),
        url('Mate-Regular.woff2') format('woff2'),
        url('Mate-Regular.woff') format('woff'),
        url('Mate-Regular.ttf') format('truetype'),
        url('Mate-Regular.svg#Mate-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mate Italic';
    src: url('Mate-Italic.eot');
    src: local('Mate Italic'), local('Mate-Italic'),
        url('Mate-Italic.eot?#iefix') format('embedded-opentype'),
        url('Mate-Italic.woff2') format('woff2'),
        url('Mate-Italic.woff') format('woff'),
        url('Mate-Italic.ttf') format('truetype'),
        url('Mate-Italic.svg#Mate-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-Regular.eot');
    src: local('Work Sans Regular'), local('WorkSans-Regular'),
        url('WorkSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('WorkSans-Regular.woff2') format('woff2'),
        url('WorkSans-Regular.woff') format('woff'),
        url('WorkSans-Regular.ttf') format('truetype'),
        url('WorkSans-Regular.svg#WorkSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans Light';
    src: url('WorkSans-Light.eot');
    src: local('Work Sans Light'), local('WorkSans-Light'),
        url('WorkSans-Light.eot?#iefix') format('embedded-opentype'),
        url('WorkSans-Light.woff2') format('woff2'),
        url('WorkSans-Light.woff') format('woff'),
        url('WorkSans-Light.ttf') format('truetype'),
        url('WorkSans-Light.svg#WorkSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans Bold';
    src: url('WorkSans-Bold.eot');
    src: local('Work Sans Bold'), local('WorkSans-Bold'),
        url('WorkSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('WorkSans-Bold.woff2') format('woff2'),
        url('WorkSans-Bold.woff') format('woff'),
        url('WorkSans-Bold.ttf') format('truetype'),
        url('WorkSans-Bold.svg#WorkSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans Medium';
    src: url('WorkSans-Medium.eot');
    src: local('Work Sans Medium'), local('WorkSans-Medium'),
        url('WorkSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('WorkSans-Medium.woff2') format('woff2'),
        url('WorkSans-Medium.woff') format('woff'),
        url('WorkSans-Medium.ttf') format('truetype'),
        url('WorkSans-Medium.svg#WorkSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans SemiBold';
    src: url('WorkSans-SemiBold.eot');
    src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'),
        url('WorkSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('WorkSans-SemiBold.woff2') format('woff2'),
        url('WorkSans-SemiBold.woff') format('woff'),
        url('WorkSans-SemiBold.ttf') format('truetype'),
        url('WorkSans-SemiBold.svg#WorkSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

