@media screen and (max-width: 1366px){
    .overlay a{
        font-size: 26px;
    }
}

@media screen and (max-width: 1024px){
    #mletzkoStory.overlapPanel h4 {
        margin-left: 13em;
    }
    .primary-menu li{
        margin-left: 10px;
    }
    .overlay a{
        font-size: 21px;
    }
    .overlay{
		color: #f1f1f1;
	}

	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
	/* .overlay-content{
		margin-top: -50px;
	} */
	.overlay .list-inline{
		margin-left: 65px !important;
		margin-top: -110px;
	}
	/*.overlay #menuPopupLogo{
	 	padding-bottom: 30px;
	}*/
	/* .overlay #menuPopupLogo{
		display: unset;
	} */

	.overlay .closebtn{
		z-index: 999999;
    }
    
    /* #loveContent.overlapPanel,
    #loveContent.overlapPanel .row{ 
        height: 105vh;
    } */
}

@media screen and (max-width: 1024px) and (orientation:portrait){
    ul#menu-primary-menu{
        position: relative;
    }
    #pageCard ul li{
        height: 35vh;
    }

    #videoPlay {
        max-height: 80vh;
        min-height: 80vh;
    }

    .details p{
        width: 69%;
        padding-bottom: 3em;
    }
    .details .indexContainer {
        padding-bottom: 5.2em;
    }

    .bannerArea.overlapPanel h3 span {
        margin-left: 12%;
    }
    .bannerArea.overlapPanel h4 {
        margin-left: 3.5em;
        margin-top: .5em;
    }
}

@media screen and (max-width: 992px) {
    #pageCard ul{margin: 0 0 0em;} 
	.container {width:90%;} 
	#pageCard ul li {margin-bottom: 1.5em;}
    .primary-menu li span{
        padding-top: 0.2em;
    }
    .details h4{
        margin-top: 0.5em;
    }
    .container-fluid{
        width:100%;
    }
    
    /*soumik*/
    #menu-primary-menu li{width:100%;margin:0px}
    #pageCard ul li{margin-bottom: 27px;height:295px;}

        /*soumik end*/
        /*Akshay start*/
        .slider {
            margin-top: 3em;
        }
        .carNumOne .container {
            max-width: 100%;
        }
        footer form ul li:last-child{margin-bottom:54px;}
        #footerSideMenu {padding-top:79px;}
        footer #footerTop{padding-bottom: 4em;}
        footer ul#menu-social-menu li a{height:21.92px;width:21.92px;}
        footer #footerSideMenu ul li{font-size: 14px;line-height: 32px;letter-spacing: 0.21px;}
        footer h5,
        footer .widget .widget-title,
        footer .widget h5{font-size: 14px;line-height: 16px;letter-spacing: 0.84px;}
       
        /*Akshay end*/
        #pageCard ul li {
            width: 100%;
            margin-bottom: 1.5em;
        }
        #pageCard ul{
            margin: 0 0 0em;
        }
        #slider{
            padding-top: 6em;
        }
        .bx-wrapper .bx-prev{
            left: 8px;
        }
        .bx-wrapper .bx-next{
            right: 8px;
        }
        .bx-wrapper{
            margin-bottom:5em
        }
        .container {
            width:90%;
        }
        .col-xs-6{
            width: 50%;
        }
        .hamburger a {
            font-size: 16px;
            vertical-align: middle;
        }

        ul.primary-menu {
            padding-top: 2em;
        }

        .align-auto {
            display: contents;
            /* margin: auto !important; */
        }

        .hamburger {
            margin-top: 0px;
        }

        ul#menu-primary-menu {
            position: relative !important;
        }
    }

@media screen and (max-width: 800px){
    ul.primary-menu{
        float: none;
    } 
    .overlapLogo{
        margin-top: 0;
    }
    .overlay-content .col-sm-12.float-right{
        float: none !important;
    }
    .details .row,.details,#getInTouch,#getInTouch .row{
        height: 75vh;
        min-height: 58vh;
    }
    #loveContent.overlapPanel,
    #loveContent.overlapPanel .row{
        height: 40vh;
        min-height: 40vh;
    }
    #videoPlay {
        max-height: 25vh;
        min-height: 25vh;
    }
    footer .wpcf7-response-output {
        width: 85%;
    }

    #slider .container{
        padding-left: 0;
        padding-right: 0;
    }
    
    #pageCard ul li{height:25vh;}

    /* header styles starts */
    .overlay a {			
        text-decoration: none;		
        font-size: 30px;
        letter-spacing: 0.72px;
        line-height: 35px;
        font-family: 'Work Sans SemiBold';
    }
    .overlay #menuPopupLogo{
        width: 70%;
        display: inline-block;
    }

    
    .overlay .hamburger a {
        font-size: 16px;
        letter-spacing: 0.96px;
        font-weight: bold;
    }

    .hamburger {
        margin-top: 1vh;
    }

    .overlay-content{
        margin-top: 7%;
    }
    #myNav .overlay-content .row.align-items-center{
        display: block;
    }

    .primary-menu li {
        float: none;
        padding: 0;
        margin: 1em 0 0;
    }
    /* header styles starts */
    .details{
        padding-top: 3.5em;
    }
    .details.home{
        padding-top: 0;
    }
    .details p {
        font-size: 14px;
        line-height: 32px;
        letter-spacing: 0.21px;
        padding: 0 0 2em 0;
        width: 95%;
    }
    .details h2 {
        font-size: 14px;
    }
    #slider.details p{
        height: 100%;
    }
    .details.home .bx-wrapper .bx-controls-direction a{
        top: 43%;
    }
    #loveContent.details p{
        width: 100%;
    }
    .details h4{
        line-height: 35px;
        font-size: 30px;
        font-family: 'Work Sans SemiBold';
        letter-spacing: 0.72px;
    }
    .details .indexContainer,
    #slider.details .indexContainer{
        padding-bottom: 0;
    }

    footer{
        padding: 2.7em 0 0;
    }
    footer #footerTop{
        padding-bottom: 2.3em;
    }
    footer #footerBottom ul li a{
        margin-right: 19px;
        font-size: 12px;
        letter-spacing: 0px;
    }
    .letStayInTouch h5{
        display: none;
    }
    .textwidget > :last-child{
        margin-bottom: 80px;
    }

    footer form ul li input[type="email"]{
        font-size: 14px;
        padding-bottom: 0;
    }
    footer #footerBottom ul{
        position: relative !important;
    }
    footer #footerBottom p{
        text-align: left;
    }

    footer form ul li:first-child{
        width: 100%;
    }
    footer input.wpcf7-form-control.wpcf7-submit {padding-right: 0;}
    footer span.wpcf7-not-valid-tip{
        bottom: -27px;
    }

    ul.primary-menu {
        padding-top: 0;
    }
    .primary-menu li:first-child{
        margin-top: 1.5em;
    }
    .bannerArea.overlapPanel h3,
    .bannerArea.overlapPanel h4 {
		text-align: center;
    }
    .bannerArea.overlapPanel h4{
        margin-left: 0;
        font-size: 14px;
        line-height: 32px;
        letter-spacing: 0.84px;
    }

    /* .overlapPanel,
    .overlapPanel .row,
    #getInTouch,
    #getInTouch .row{ 
        height: 100vh;
        background-position-x: 75%;
    } */
    #fillerFlap.overlapPanel{
        background-position-x: 43%;
    }
    #outsideMirror.overlapPanel,
    #engine.overlapPanel{
        background-position-x: 55%;
    }
    #headlights.overlapPanel{
        background-position-x: 63%;
    }
    #handles.overlapPanel{
        background-position-x: 69%;
    }
    #rims.overlapPanel{
        background-position-x: 25%;
    }
    #bodyhr.overlapPanel{
        background-position-x: 100%;
    }
    #doorPin.overlapPanel{
        background-position-x: 45%;
    }
    .bannerArea.overlapPanel h3 span{
        margin-top: 10px;
        margin-left: 0;
    }
    #mletzkoStory.overlapPanel h3 span,
    .overlapPanel h3 {
        font-size: 28px;
        line-height: 37px;
    }
    .overlapPanel h3 span{
        font-family: 'Work Sans SemiBold';
        font-size: 46px;
        line-height: 51px;
        letter-spacing: 1.52px; 
    }
    .home.overlapPanel h3 span{
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 0.72px; 
        margin: 15px 0 10px 0;
    }
    #loveContent{
        padding-top: 1em;
    }
    .overlapPanel .contentDetail h3 {
        font-size: 20px;
        line-height: 24px;
    }
    
    #getInTouch h3{
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0;
    }
    #getInTouch h3 span{
        font-family: 'Work Sans SemiBold';
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 0.72px; 
    } 
    #getInTouch h2 {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.84px;
    }
    #bannerCanNoOne.overlapPanel h4{
        margin-left: 0;
    }
    .slider .bx-wrapper img{
        min-height: 50vh;
    }
    #mymeltzko_div h2{
        font-size: 30px;
        line-height: 37px;
    }
    #mymeltzko_div h2 span{
        font-size: 46px;
        letter-spacing: 1.52px;
        line-height: 51px;
        font-family: 'Work Sans SemiBold';
    }
    #mymeltzko_div input{
        font-size: 14px;
        letter-spacing: 0.21px;
        line-height: 32px;
        font-family: 'Work Sans Medium';
        padding-bottom: 0;
    }
    #mymeltzko_div input[type="submit"]{
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.84px;
        font-family: 'Work Sans';
    }
    #mymeltzko_div {
        background-position-x: 90%;
    }
    footer form ul li:last-child{
        font-size: 14px;
        letter-spacing: 0.21px;
    }
    footer input[type=checkbox],
    footer input[type="checkbox" i]:before{
        height: 18px;
        width: 18px;
    }
    footer p{
        font-size: 14px;
        margin-bottom: 1.8em;
        letter-spacing: 0.21px;
    }
    #defaultContent{
        padding: 6em 0 2.5em;
    }

    img.playButtonImage {
        height: 11vh;
    }

    footer .wpcf7-response-output{
        top: 45%;
    }

    ul#menu-social-menu {
        margin-top: 65px;
    }
    #mletzkoStory.overlapPanel h4{
        margin-left: 0;
    }
    #mletzkoStory.overlapPanel h3 span {
        margin-left: 0
    }
    #mletzkoStory h3 {
        text-align: center;
        margin-left: 0;
    }
    #mletzkoStory.overlapPanel div[class^="col"],
    #mletzkoStory.overlapPanel h3 span,
    #mletzkoStory.overlapPanel h3 span.secThirdHead{
        margin: 0;
        text-align: center;
    }
    #mletzkoStory.overlapPanel h3 span.secThirdHead{
        font-size: 14px;
        line-height: 32px;
        letter-spacing: 0.84px;
    }

    #slider h3,
    .details.home h3{
        font-size: 20px;
        line-height: 24px;
    }
}

@media all and (max-width: 480px){
    .details .row,.details,#getInTouch,#getInTouch .row,#loveContent.overlapPanel,#loveContent.overlapPanel .row{
        height: auto;
        min-height: 80vh;
    }
    .details.home .row{
        align-items: flex-start !important;
        padding-top: 3em;
    }
    #slider.details,
    #slider.details .row{
        min-height: 90vh;
    }
    .details.home .bx-wrapper{
        margin-bottom: 3em;
    }
    #slider {
        padding-top: 3em;
    }
    .bx-wrapper .bx-next{
        background: url(../images/arrowLeft.svg) no-repeat;
        transform: rotate(180deg);
    }
    
    /*start home media*/
    .overlapPanel,
    .overlapPanel .row{
        height: 90vh;
    }
    #sliderExterior .bx-wrapper,
    #sliderExterior .bx-wrapper img{
        min-height: 45vh;
        height:auto;
    }
    #sliderInterior .bx-wrapper,
    #sliderInterior .bx-wrapper img{
        min-height: 35vh;
        height:auto;
     }
     .slider .bx-wrapper .bx-pager{
        bottom: 10px;
     }
    footer #footerBottom ul li{
        margin-right: 0px;
    }
    footer #footerBottom, footer #footerBottom p{
        font-size: 12px;
        line-height: 32px;
        letter-spacing: 0px;
        font-family: 'work sans';
    }
    footer #footerSideMenu ul li{
        margin-bottom: 0.6em;
    }
    .bx-wrapper .bx-pager.bx-default-pager a{
        width: 11px;
        height: 11px;
        margin: 8px;
    }
    #sliderExterior .bx-wrapper .bx-pager.bx-default-pager a{
        margin-bottom: 3px;
    }
    #pageCard ul li {
        height: 19vh;
    }
    img.playButtonImage{
        height: 7vh;
    }
    #pageCard h2{
        font-size: 14px;
        line-height: 16px;
        font-family: 'work sans';
    }
    #pageCard h2 span{
        font-size: 10px;
        line-height: 13px;
    }
    
    /*end home media*/
    .bx-wrapper .bx-controls-direction a {
        width: 19px;
        top: 45%;
    }
    .details.home .bx-wrapper .bx-controls-direction a{
        top: 50%;
    }
    
    .bx-wrapper .bx-prev,
    .details.home .bx-wrapper .bx-prev {
        left: 4px;
    }
    .bx-wrapper .bx-next,
    .details.home .bx-wrapper .bx-next{
        right:4px;
    }

    #bannerCanNoOne.overlapPanel div[class^="col"] {
        margin-top: 0em;
    }

    #heartbeat{
		background: rgba(0, 0, 0, 0.6);
	}
	#heartbeat h2 {
		font-size: 14px;
		line-height: 32px;
		margin-top: 15%;
		letter-spacing: 0.84px;
		margin-left: 6%;
		text-align: center;
	}
	.overlay{
		    overflow: hidden;
		}
    /* Kamlesh */
    .overlapPanel h3 span,
    #mletzkoStory.overlapPanel h3 {
        font-size: 43px;
        letter-spacing: 1px;
        line-height: 51px;
    }
    .home.overlapPanel h3 span {
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.62px;
    }

}

@media (max-width: 335px){
    .overlay-content {
        margin-top: 0;
    }
    .primary-menu li {
        margin-top: 3vh;
    }
    .primary-menu li:first-child {
        margin-top: 1em;
    }
    .overlapPanel h3 span, #mletzkoStory.overlapPanel h3 {
        font-size: 35px;
        letter-spacing: 1px;
        line-height: 44px;
    }

    #mletzkoStory.overlapPanel h3 span, .overlapPanel h3 {
        font-size: 24px;
        line-height: 30px;
    }
    #slider h3, .details.home h3 {
        font-size: 16px;
        line-height: 20px;
    }
    .bannerArea.overlapPanel h4 {
        line-height: 24px;
    }

    .home.overlapPanel h3 span {
        font-size: 21px;
        line-height: 26px;
        letter-spacing: 0.52px;
    }

    .details p{
        line-height: 26px;
        font-size: 12px;
    }
}
